<div class="tab-content card-body">
    <div class="tab-pane fade show active" id="content1">
        <!-- {
                "nroDocumento": 64555556654,
                "nombre": "gasdg",
                "email": "dddfd@gmail.com",
                "fechaNacimiento": "1990-09-10",
                "fechaIngreso": "2023-06-04"
                } -->
                
                <!-- CREATE EMPLEADO -->   
         <form [formGroup]="formulario" (ngSubmit)="crearEmpleado()">                                     
            <div class="mb-3">
               <label for="nroDocumento" class="form-label">Numero de Documento</label>
               <input type="text" class="form-control" id="nroDocumento" name="nroDocumento" (input)="soloNumeros($event)" required>
               <div class="invalid-feedback">Por favor, ingrese solo números.</div>
               <div class="invalid-message" *ngIf="mostrarMensaje">Solo se permiten números.</div>
            </div>            
            <div class="mb-3">
               <label for="name" class="form-label">Nombre</label>
               <input type="text" class="form-control" id="name" name="name" (input)="soloLetras($event)" required>
               <div class="invalid-feedback">Por favor, ingrese solo letras.</div>
               <div class="invalid-message" *ngIf="mostrarMensajeNombre">Solo se permiten letras.</div>
           </div>
           
           <div class="mb-3">
               <label for="surname" class="form-label">Apellido</label>
               <input type="text" class="form-control" id="surname" name="surname" (input)="soloLetras($event)" required>
               <div class="invalid-feedback">Por favor, ingrese solo letras.</div>
               <div class="invalid-message" *ngIf="mostrarMensajeApellido">Solo se permiten letras.</div>
           </div>           
           <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" formControlName="email" required>
            <div class="invalid-feedback" [ngClass]="{'d-block': formulario?.get('email')?.hasError('email') && formulario?.get('email')?.touched}">
              Por favor, ingrese un correo electrónico válido.
            </div>
          </div>
          <div class="mb-3">
            <label for="birthDay" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" id="birthDay" name="birthDay" formControlName="birthDay" 
               [max]="maxDateBirth" (input)="validarFechaNacimiento(formulario?.get('birthDay')?.value)">
            <div class="invalid-message text-danger" *ngIf="mostrarMensajeFechaNacimiento">Debe tener al menos 18 años de edad.</div>
        </div>
        
         
          <div class="mb-3">
               <label for="admissionDay" class="form-label">Fecha de Ingreso</label>
               <input type="date" class="form-control" id="admissionDay" name="admissionDay" formControlName="admissionDay" max="{{ maxDate | date:'yyyy-MM-dd' }}">
               <div class="invalid-feedback" *ngIf="formulario?.get('admissionDay')?.hasError('dateError')">
                  La fecha de ingreso no puede ser posterior al día de la fecha.
               </div>
            </div>
            <div class="d-grid gap-2">
               <button class="btn btn-primary" type="button" (click)="crearEmpleado()">CREAR EMPLEADO</button>
            </div>
        </form>
    </div>