<div class="container mt-5"> 
    <div class="row"> 
        <div class="col d-flex justify-content-center mb-4">
            <div class="card text-center mb-3" style="width: 18rem;">
                <img src="../../../assets/empleados.jpeg" class="card-img-top" alt="imagen-empleados">
                <div class="card-body">
                    <h5 class="card-title">Administra a los Empleados</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="/empleado"class="btn btn-primary">Empleados</a>
                </div>
            </div>
        </div>
        

        <div class="col d-flex justify-content-center mb-4">
            <div class="card text-center mb-3" style="width: 18rem;">
                <img src="../../../assets/jornadas.avif" class="card-img-top" alt="imagen-jornadas">
                <div class="card-body">
                    <h5 class="card-title">Gestiona las Jornadas</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a routerLink="/jornada" class="btn btn-primary">Jornadas</a>
                </div>
            </div>
        </div>
    </div> 
</div>